# Python files to ignore
__pycache__/
*.pyc

# Environment variables / secrets
.env

# Virtual environments
venv/

# Logs
*.log

# Tokens
*.enc
tokens/

.DS_Store

.vscode/

*.session.sql

# Test files
tests/